#Checks: >
#  clang-diagnostic-*,
#  clang-analyzer-*,
#  readability-*,
#  bugprone-*,
#  performance-*,
#  portability-*,
#  modernize-*,
#  misc-*,
#  -modernize-use-trailing-return-type,
#  -performance-no-int-to-ptr,
#  -readability-magic-numbers,
#  -misc-include-cleaner, # Do not add headers to include path
#
#WarningsAsErrors: ''
#
#CheckOptions:
#  # === 命名规则 ===
#  - key: readability-identifier-naming.FunctionCase
#    value: CamelCase          # PascalCase
#  - key: readability-identifier-naming.ClassCase
#    value: CamelCase          # PascalCase
#  - key: readability-identifier-naming.StructCase
#    value: CamelCase
#  - key: readability-identifier-naming.UnionCase
#    value: CamelCase
#  - key: readability-identifier-naming.NamespaceCase
#    value: CamelCase
#  - key: readability-identifier-naming.VariableCase
#    value: camelBack          # 小驼峰
#  - key: readability-identifier-naming.ParameterCase
#    value: camelBack
#  - key: readability-identifier-naming.MemberCase
#    value: camelBack
#  - key: readability-identifier-naming.MacroDefinitionCase
#    value: UPPER_CASE
#  - key: readability-identifier-naming.EnumConstantCase
#    value: UPPER_CASE
#  - key: readability-identifier-naming.GlobalConstantCase
#    value: UPPER_CASE
#
#  # === 魔法数字检查 ===
#  - key: readability-magic-numbers.IgnoredIntegerValues
#    value: '0,1'
#
#  # === 禁用不安全函数 ===
#  - key: misc-banned-functions.CheckedFunctions
#    value: 'gets;strcpy;sprintf;vsprintf;scanf'
#
#  - key: performance-no-int-to-ptr
#    value: false
#
#  - key: readability-identifier-length.MinimumVariableNameLength
#    value: 2
#
#FormatStyle: file
